.cart-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Work Sans", sans-serif;
  }
  
  .cart-title {
    font-size: 28px;
    font-weight: 700;
    color: #111416;
    margin-bottom: 20px;
  }
  
  .empty-cart {
    font-size: 18px;
    color: #555;
    text-align: center;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cart-item-details {
    flex: 2;
    padding: 0 20px;
  }
  
  .cart-item-details h3 {
    font-size: 18px;
    font-weight: 600;
    color: #111416;
    margin: 0 0 5px;
  }
  
  .cart-item-details p {
    font-size: 14px;
    color: #555;
    margin: 0;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
  }
  
  .cart-item-quantity button {
    background-color: #f4efe5;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #5a5a5a;
    border-radius: 4px;
  }
  
  .cart-item-quantity span {
    font-size: 16px;
    margin: 0 10px;
  }
  
  .cart-item-price {
    font-size: 16px;
    font-weight: 600;
    color: #111416;
  }
  
  .cart-summary {
    margin-top: 20px;
    font-size: 16px;
    color: #111416;
  }

  .cart-summary p {
    display: flex;
    justify-content: space-between;
  }

  .cart-summary-label {
    color: #a08249;
  }

   .checkout-button {
    display: block;
    width: 103%;
    background-color: #009963;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
  }
  
  .checkout-button:hover {
    background-color: #009963;
  }
  
  .view-new-arrivals {
    display: block;
    width: 100%; /* Make the link the same width as the button */
    background-color: #f7f3e8; /* Optional: To make it visually similar */
    padding: 12px 20px; /* Match padding */
    border-radius: 8px; /* Match border-radius */
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  
  .view-new-arrivals:hover {
    text-decoration: none; /* Ensure no underline appears on hover */
    color: black; /* Maintain the color */
  }
  