.checkout-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.shipping-address-section {
    margin-top: 70px;
    margin-bottom: 70px;
}

.shipping-address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
}

.contact-address {
    display: flex;
    flex-direction: column;
}

.contact-address .email {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-address .name {
    font-size: 0.9rem;
    color: #a08249;
    margin-bottom: 15px;
}

.contact-address .street,
.contact-address .full-address {
    font-size: 0.9rem;
    color: #a08249;
}

.change-button {
    background-color: #f4efe5;
    border: none;
    color: #555;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.change-button:hover {
    background-color: #ddd;
}

.save-button, .cancel-button {
    background-color: #f1f1f1;
    border: none;
    color: #555;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
}

.save-button {
    background-color: #009963;
    color: white;
}

.save-button:hover {
    background-color: #009963;
}

.input-field {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    flex-grow: 1;
    box-sizing: border-box;
    margin-right: 10px;
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}
